{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Les produits</h1>
    </div>
    <div class="row">
        {% for produit in produits %}
                    <div class="col-3 mt-3">
                        <div class="border border-dark rounded p-1 clearfix">
                                
                            <h2><a href="{{ path('produit_show', {'id': produit.id}) }}">{{ produit.nom }}</a>
                            -
                            {{produit.prix}}
                            $
                            </h2>
                            <img class="img-fluid rounded" src="{{asset('uploads/'~ produit.photo )}}"> 
                         </div>           
                    </div>
        {% else %}      
                <div> colspan="7">Aucun produit</div>    
        {% endfor %}
    </div>
    
    
    {# On peut ajouter un produit seulement si on est ADMIN #}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('produit_new') }}">Ajouter un produit</a>
    {% endif %}

{% endblock %}
