{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td><a href="{{ path('produit_show', {'id': produit.id}) }}">{{ produit.nom }}</a></td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stock }}</td>
                <td>
                    {% if produit.photo is not null %}
                        <img src="{{ asset('public/images/' ~ produit.photo) }}">
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun produit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {# On peut ajouter un produit seulement si on est ADMIN #}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('produit_new') }}">Ajouter un produit</a>
    {% endif %}

{% endblock %}
