<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}E-commerce CMY{% endblock %}</title>
      
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <nav>
            <ul>
                <li><a href="{{path('produit_index')}}">Accueil</a></li>
                {% if app.user is null %}
                    <li><a href="{{path('app_login')}}">Login</a></li>
                    <li><a href="{{path('app_register')}}">Inscription</a></li>
                    {# <li><a href="{{ path('user_show', {'id': user.id}) }}">Mon compte perso</a></li> #}
                {% else %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{path('admin')}}">Admin</a></li>
                    {% endif %}
                    <li><a href="{{ path('panier_index') }}">Mon panier</a></li>
                    <li><a href="{{ path('user_index') }}">Mon compte</a></li>
                    <li><a href="{{path('app_logout')}}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <p class="alert alert-{{type}}">{{message}}</p>
            {% endfor %}
        {% endfor %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
